body {
    background: #080705 url(images/background.jpg)no-repeat  50% 0;
    border: none;
}

.page{
	width:1000px;
		}

.header {border:none;padding-bottom:0;}

.header #logo  a{line-height:2em;color:#ffffff;font-size:1.3em}
.wrapper {
    width: 50%;

	text-align:justify;

    
}
.main{padding:0}

.wrapper .spip_logos{backround:none}
.cartouche, .texte{
		background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";	
		padding:0 2em;}

.cartouche{
	margin-bottom:0
	}

.aside {
    width: 45%;
    margin-top:0.5em
}

.texte {

}



.aside .menu{
    font-size: 2.2em;
    line-height: 1.5em;
	}

 a, .footer {color:#fcfbe7}
